@mixin flexrSB {
   display: flex;
    flex-direction: row;
    justify-content: space-between; 
}



@media screen and (max-width: 950px){
    .header--nav{
display: none;
    }
}

/*-----NOTEBOOK Y ESCRITORIO*/
@media screen and (min-width: 950px){
 #nav2{
     display: none;
 }

 /*----HEADER*/

.header{
    background-color: white;
    position: sticky;
top: 0.0000001px
}
.header--nav{
    @include flexrSB;
}
.header--logo{
    .logo{
        width: 8vw;
        height: 10vh;
    }
}

.header--lista{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
.header--lista li{
        margin:0rem 3rem;
    }
.header--lista a{
    text-decoration: none;
    color: black;
    font-family: 'Oswald', sans-serif;
}
.header--lista a:hover{
    color: black;
    border-bottom: 2px solid ;
}

/*---------CIERRO HEADER--*/

/*---------ABRO MAIN--*/
.main--texto{
    text-align: center !important;
width: 50% !important;
}
}

/*--------Cierro Main--*/

/*--------ABRO SECTION 1*/
































/*-----TABLETS--*/
@media screen and (min-width: 576px){

}