@mixin flexrSB {
   display: flex;
    flex-direction: row;
    justify-content: space-between; 
}



@media screen and (max-width: 950px){
    .header--nav{
display: none;
    }
    .section1--galeria2{
        display: none;
    }
}

/*-----NOTEBOOK Y ESCRITORIO*/
@media screen and (min-width: 950px){
 #nav2{
     display: none;
 }

 /*----HEADER*/

.header{
    background-color: white;
    position: sticky;
top: 0.0000001px
}
.header--nav{
    @include flexrSB;
}
.header--logo{
    .logo{
        width: 8vw;
        height: 10vh;
    }
}

.header--lista{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
.header--lista li{
        margin:0rem 3rem;
    }
.header--lista a{
    text-decoration: none;
    color: black;
    font-family: 'Oswald', sans-serif;
}
.header--lista a:hover{
    color: black;
    border-bottom: 2px solid ;
}

/*---------CIERRO HEADER--*/

/*---------ABRO MAIN--*/
.main--texto{
    text-align: center !important;
width: 50% !important;
}

/*--------Cierro Main--*/

/*--------ABRO SECTION 1*/


.section1--contenido{
    display: flex !important;
    flex-direction: column !important;
   align-items: center !important;
}

.section1--media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.section1--lista{
    width: 50%;
    
   
}
.galeria1--div{
    margin-top: -3rem;
    margin-bottom: 2rem;
}
.galeria1 h3:hover{
    color: black;
    border-bottom: 1px solid whitesmoke;
    
}
.galeria1 img{
    width: 80%;
    height: 70%;
   
}
.galeria1 img:hover{
transform: scale(0.9,0.9);
}
}

































/*-----TABLETS--*/
@media screen and (min-width: 576px){
/*----MAIN*/
.main--texto{
    text-align: center !important;
    width: 85%;
}

}