.section4{
    background-color: #e5e5e5;
    
}

.section4--div {
   @include flexcc;
    
   
    
}
.section4--div div{
 margin-top: 2rem;
}
.section4--div a{
font-weight: bold;
    color: #252525;
    text-decoration: none;
}
.section4--mensaje a{
   @include flexcc;
    font-size: 1.1rem;
}

.section4--guia a{
    @include flexcc;
    font-size: 1.1rem;
}
.section4--mail a{
    @include flexcc;
    font-size: 1.1rem;
}

.section4--mensaje a:hover{
color: forestgreen;
}
.section4--guia a:hover{
color: rgb(87, 90, 240);
}
.section4--mail a:hover{
    color: rgb(246, 136, 136);
}