.servicios{
    margin-top: 4rem;
}

/*---PRIMER PARTE*/
.servicios--div{
@include flexcc;
}
.servicios--titulo{
    color: #646b46;
    font-size: 2.3rem;
    font-family: 'Oswald', sans-serif;
}
.servicios--texto{
    text-align: center ;
}



/*---SEGUNDA PARTE*/

.servicios2--media{
    background-color: #c3bd86;
}
.servicios2--contenido{
    @include flexcc;
    background-color: #c3bd86;
    height: 40vh;

}

.servicios2--titulo{
    color:#646b46;
    
}
.servicios2--lista li{
    line-height: 2rem;
    color: whitesmoke;
    list-style: none;
    border-bottom: 1px solid $color-line;
    font-family: 'Oswald', sans-serif;

}

.servicios2--galeria2{
    margin-top: 4rem;
}
.servicios2--galeria2 a{
   @include flexcc;
}
.galeria2{
    text-decoration: none;
}
.galeria2--titulo{
    color:#646b46 ;
    
}
.galeria2--titulo:hover{
    color: black;
    border-bottom: 1px solid whitesmoke;
}
.galeria2--img{
    width: 90vw;
    height: 30vh;
    margin-bottom: 2rem;
    box-shadow: 0 0 1rem 0 black;
}
