.servicios{
    margin-top: 4rem;
}

/*---PRIMER PARTE*/
.servicios--div{
@include flexcc;
}
.servicios--titulo{
    color: #646b46;
    font-size: 2.3rem;
    font-family: 'Oswald', sans-serif;
}
.servicios--texto{
    text-align: center ;
}



/*---SEGUNDA PARTE*/
.servicios2--div{
    @include flexcc;
    margin-top: 3rem;
    background-color: #c3bd86;
}

.servicios2--titulo{
    color: #646b46;
    font-size: 2.3;
}
.servicios2--lista{
margin-top: 1rem;
}

.servicios2--lista li{
list-style: none;
border-bottom: 1px solid $color-line;
line-height: 1.9rem;
}


.galeria2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #646b46;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.galeria2:hover{
    color:#646b46;
}
.galeria2 h3{
    border-bottom: 1px solid;
    font-family: 'Oswald', sans-serif;
}
.galeria2--img{
    width: 90%;
    height: 40%;
}