$color-line:#a5a5a5;

@mixin flexcc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habitacion{
    margin-top: 4rem;
    margin-bottom: 2rem;
    background-color: #c3bd86;
}
#icono--habitacion{
    color:#646b46 ;
}
.section1--titulo{
    color: white;
    font-size: 1.9rem;
}
.section1--lista{
    list-style: none;
    line-height: 1.9rem;
    margin-top: 1rem;
    text-align: left;
    font-size: 0.8rem;
}
.section1--lista li{
    color: white;
    border-bottom: 1px solid $color-line;
}
.section1--contenido{ 
@include flexcc;
}

.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #646b46;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.galeria:hover{
    color:#646b46;
}
.galeria h3{
    border-bottom: 1px solid;
}
.galeria--img{
    width: 90%;
    height: 40%;
}