* {
  padding: 0px;
  margin: 0px;
}

/*----HEADER--*/
.logo1 {
  width: 90px;
  height: 90px;
}

@media screen and (max-width: 950px) {
  .header--nav {
    display: none;
  }
}

/*-----NOTEBOOK Y ESCRITORIO*/
@media screen and (min-width: 950px) {
  #nav2 {
    display: none;
  }
  .header {
    background-color: white;
  }
  .header--nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header--logo .logo {
    width: 8vw;
    height: 10vh;
  }
  .header--lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header--lista li {
    margin: 0rem 3rem;
  }
  .header--lista a {
    text-decoration: none;
    color: black;
  }
  .header--lista a:hover {
    color: black;
    border-bottom: 2px solid;
  }
}

/*-----TABLETS--*/
.w-1 {
  width: 1vw;
}

.w-2 {
  width: 2vw;
}

.w-3 {
  width: 3vw;
}

.w-4 {
  width: 4vw;
}

.w-5 {
  width: 5vw;
}

.w-6 {
  width: 6vw;
}

.w-7 {
  width: 7vw;
}

.w-8 {
  width: 8vw;
}

.w-9 {
  width: 9vw;
}

.w-10 {
  width: 10vw;
}

.w-11 {
  width: 11vw;
}

.w-12 {
  width: 12vw;
}

.w-13 {
  width: 13vw;
}

.w-14 {
  width: 14vw;
}

.w-15 {
  width: 15vw;
}

.w-16 {
  width: 16vw;
}

.w-17 {
  width: 17vw;
}

.w-18 {
  width: 18vw;
}

.w-19 {
  width: 19vw;
}

.w-20 {
  width: 20vw;
}

.w-21 {
  width: 21vw;
}

.w-22 {
  width: 22vw;
}

.w-23 {
  width: 23vw;
}

.w-24 {
  width: 24vw;
}

.w-25 {
  width: 25vw;
}

.w-26 {
  width: 26vw;
}

.w-27 {
  width: 27vw;
}

.w-28 {
  width: 28vw;
}

.w-29 {
  width: 29vw;
}

.w-30 {
  width: 30vw;
}

.w-31 {
  width: 31vw;
}

.w-32 {
  width: 32vw;
}

.w-33 {
  width: 33vw;
}

.w-34 {
  width: 34vw;
}

.w-35 {
  width: 35vw;
}

.w-36 {
  width: 36vw;
}

.w-37 {
  width: 37vw;
}

.w-38 {
  width: 38vw;
}

.w-39 {
  width: 39vw;
}

.w-40 {
  width: 40vw;
}

.w-41 {
  width: 41vw;
}

.w-42 {
  width: 42vw;
}

.w-43 {
  width: 43vw;
}

.w-44 {
  width: 44vw;
}

.w-45 {
  width: 45vw;
}

.w-46 {
  width: 46vw;
}

.w-47 {
  width: 47vw;
}

.w-48 {
  width: 48vw;
}

.w-49 {
  width: 49vw;
}

.w-50 {
  width: 50vw;
}

.w-51 {
  width: 51vw;
}

.w-52 {
  width: 52vw;
}

.w-53 {
  width: 53vw;
}

.w-54 {
  width: 54vw;
}

.w-55 {
  width: 55vw;
}

.w-56 {
  width: 56vw;
}

.w-57 {
  width: 57vw;
}

.w-58 {
  width: 58vw;
}

.w-59 {
  width: 59vw;
}

.w-60 {
  width: 60vw;
}

.w-61 {
  width: 61vw;
}

.w-62 {
  width: 62vw;
}

.w-63 {
  width: 63vw;
}

.w-64 {
  width: 64vw;
}

.w-65 {
  width: 65vw;
}

.w-66 {
  width: 66vw;
}

.w-67 {
  width: 67vw;
}

.w-68 {
  width: 68vw;
}

.w-69 {
  width: 69vw;
}

.w-70 {
  width: 70vw;
}

.w-71 {
  width: 71vw;
}

.w-72 {
  width: 72vw;
}

.w-73 {
  width: 73vw;
}

.w-74 {
  width: 74vw;
}

.w-75 {
  width: 75vw;
}

.w-76 {
  width: 76vw;
}

.w-77 {
  width: 77vw;
}

.w-78 {
  width: 78vw;
}

.w-79 {
  width: 79vw;
}

.w-80 {
  width: 80vw;
}

.w-81 {
  width: 81vw;
}

.w-82 {
  width: 82vw;
}

.w-83 {
  width: 83vw;
}

.w-84 {
  width: 84vw;
}

.w-85 {
  width: 85vw;
}

.w-86 {
  width: 86vw;
}

.w-87 {
  width: 87vw;
}

.w-88 {
  width: 88vw;
}

.w-89 {
  width: 89vw;
}

.w-90 {
  width: 90vw;
}

.w-91 {
  width: 91vw;
}

.w-92 {
  width: 92vw;
}

.w-93 {
  width: 93vw;
}

.w-94 {
  width: 94vw;
}

.w-95 {
  width: 95vw;
}

.w-96 {
  width: 96vw;
}

.w-97 {
  width: 97vw;
}

.w-98 {
  width: 98vw;
}

.w-99 {
  width: 99vw;
}

.h-1 {
  height: 1vh;
}

.h-2 {
  height: 2vh;
}

.h-3 {
  height: 3vh;
}

.h-4 {
  height: 4vh;
}

.h-5 {
  height: 5vh;
}

.h-6 {
  height: 6vh;
}

.h-7 {
  height: 7vh;
}

.h-8 {
  height: 8vh;
}

.h-9 {
  height: 9vh;
}

.h-10 {
  height: 10vh;
}

.h-11 {
  height: 11vh;
}

.h-12 {
  height: 12vh;
}

.h-13 {
  height: 13vh;
}

.h-14 {
  height: 14vh;
}

.h-15 {
  height: 15vh;
}

.h-16 {
  height: 16vh;
}

.h-17 {
  height: 17vh;
}

.h-18 {
  height: 18vh;
}

.h-19 {
  height: 19vh;
}

.h-20 {
  height: 20vh;
}

.h-21 {
  height: 21vh;
}

.h-22 {
  height: 22vh;
}

.h-23 {
  height: 23vh;
}

.h-24 {
  height: 24vh;
}

.h-25 {
  height: 25vh;
}

.h-26 {
  height: 26vh;
}

.h-27 {
  height: 27vh;
}

.h-28 {
  height: 28vh;
}

.h-29 {
  height: 29vh;
}

.h-30 {
  height: 30vh;
}

.h-31 {
  height: 31vh;
}

.h-32 {
  height: 32vh;
}

.h-33 {
  height: 33vh;
}

.h-34 {
  height: 34vh;
}

.h-35 {
  height: 35vh;
}

.h-36 {
  height: 36vh;
}

.h-37 {
  height: 37vh;
}

.h-38 {
  height: 38vh;
}

.h-39 {
  height: 39vh;
}

.h-40 {
  height: 40vh;
}

.h-41 {
  height: 41vh;
}

.h-42 {
  height: 42vh;
}

.h-43 {
  height: 43vh;
}

.h-44 {
  height: 44vh;
}

.h-45 {
  height: 45vh;
}

.h-46 {
  height: 46vh;
}

.h-47 {
  height: 47vh;
}

.h-48 {
  height: 48vh;
}

.h-49 {
  height: 49vh;
}

.h-50 {
  height: 50vh;
}

.h-51 {
  height: 51vh;
}

.h-52 {
  height: 52vh;
}

.h-53 {
  height: 53vh;
}

.h-54 {
  height: 54vh;
}

.h-55 {
  height: 55vh;
}

.h-56 {
  height: 56vh;
}

.h-57 {
  height: 57vh;
}

.h-58 {
  height: 58vh;
}

.h-59 {
  height: 59vh;
}

.h-60 {
  height: 60vh;
}

.h-61 {
  height: 61vh;
}

.h-62 {
  height: 62vh;
}

.h-63 {
  height: 63vh;
}

.h-64 {
  height: 64vh;
}

.h-65 {
  height: 65vh;
}

.h-66 {
  height: 66vh;
}

.h-67 {
  height: 67vh;
}

.h-68 {
  height: 68vh;
}

.h-69 {
  height: 69vh;
}

.h-70 {
  height: 70vh;
}

.h-71 {
  height: 71vh;
}

.h-72 {
  height: 72vh;
}

.h-73 {
  height: 73vh;
}

.h-74 {
  height: 74vh;
}

.h-75 {
  height: 75vh;
}

.h-76 {
  height: 76vh;
}

.h-77 {
  height: 77vh;
}

.h-78 {
  height: 78vh;
}

.h-79 {
  height: 79vh;
}

.h-80 {
  height: 80vh;
}

.h-81 {
  height: 81vh;
}

.h-82 {
  height: 82vh;
}

.h-83 {
  height: 83vh;
}

.h-84 {
  height: 84vh;
}

.h-85 {
  height: 85vh;
}

.h-86 {
  height: 86vh;
}

.h-87 {
  height: 87vh;
}

.h-88 {
  height: 88vh;
}

.h-89 {
  height: 89vh;
}

.h-90 {
  height: 90vh;
}

.h-91 {
  height: 91vh;
}

.h-92 {
  height: 92vh;
}

.h-93 {
  height: 93vh;
}

.h-94 {
  height: 94vh;
}

.h-95 {
  height: 95vh;
}

.h-96 {
  height: 96vh;
}

.h-97 {
  height: 97vh;
}

.h-98 {
  height: 98vh;
}

.h-99 {
  height: 99vh;
}
/*# sourceMappingURL=EstilosIndex.css.map */